<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edmund Clarke</title>
</head>
<body>
    <header><div><h1>Edmund Clarke</h1></div></header>
    <main>
        <div class="imagen"><img src="img/clarke.jpg" alt="foto de Clarke" height="400"></div>
        <div>
            <p>
                Edmund Melson Clarke, Jr. (Newport News, 27 de julio de 1945 - 22 de diciembre de 2020) fue un informático teórico, profesor universitario, investigador, ingeniero y matemático estadounidense. Principalmente reconocido por haber desarrollado el método conocido como "model checking", para verificar diseños de software o hardware. Clarke fue el Profesor FORE Systems de Ciencias de la Computación en la Universidad Carnegie Mellon. Junto con E. Allen Emerson y Joseph Sifakis, fue el ganador de 2007 del Premio Turing de la Association for Computing Machinery. Falleció el 22 de diciembre de 2020 a los 75 años a causa de COVID-19. 
            </p>
        </div>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="berners-lee">Tim Berners-Lee</a></li>
                <li><a href="babbage">Charles Babbage</a></li>
                <li><a href="hamilton">Margaret Hamilton</a></li>
                <li><a href="hopper">Grace Hopper</a></li>
                <li><a href="lovelace">Augusta Ada King</a></li>
                <li><a href="turing">Alan Turing</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>