<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Digital - Héroes</title>
</head>
<body>
    <header class="header"><h1>Digital - Héroes</h1></header>
    <section><h2>Ulises 2021</h2></section>
    <footer class="footer">
        <nav>
            <ul>
                <li><a href="babbage">Charles Babbage</a></li>
                <li><a href="berners-lee">Tim Berners-Lee</a></li>
                <li><a href="clarke">Edmund Clarke</a></li>
                <li><a href="hamilton">Margaret Hamilton</a></li>
                <li><a href="hopper">Grace Hopper</a></li>
                <li><a href="lovelace">Augusta Ada King</a></li>
                <li><a href="turing">Alan Turing</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>