.header {
    top: 40%;
    left: 40%;
    position: absolute;
    
}
.footer {
    bottom: 5%;
    left: 2.5%;
    position: absolute;
}
h2 {
    top: 47%;
    left: 44%;
    position: absolute;
}
div {
    display: flex;
    justify-content: center;
}
p {
    text-align: justify;
    width: 900px;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
li {
    margin-right: 20px;
}
body {
    background-color: rgb(201, 197, 197);
}